In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../docs/Thermistor_LUT.csv')

In [3]:
data = data.drop(data.index[0])

In [4]:
# Convert data to ints for ease and shorten temp range to remove negative values
data['STM_ADC'] = np.floor(data['STM_ADC'].astype(float)).astype(int)
data['Temp'] = data['Temp'].astype(int)
data = data[data['Temp'] > -1]
data

     Temp    Nom      Voltage  STM_ADC
41      0  27.28    804.72103      998
42      1  26.14  830.1051467     1030
43      2  25.05  855.9201141     1062
44      3  24.01  882.0935019     1094
45      4  23.02  908.5402786     1127
..    ...    ...          ...      ...
187   146  0.339  2901.634587     3601
188   147  0.332  2903.600465     3603
189   148  0.326  2905.287623     3606
190   149  0.319  2907.258455     3608
191   150  0.313  2908.949869     3610

[151 rows x 4 columns]

In [5]:
temps = []
ADCs = []

prev_adc = 998
prev_temp = 998
adc = 0
temp = 0
for i in range(len(data)):
    adc = data.iloc[i]['STM_ADC']
    temp = data.iloc[i]['Temp']
    
    # Interpolate
    if(len(temps) > 0):
        j = prev_adc
        while(j<adc-1):
            j+=1
            temps.append( int(((j - prev_adc)/(adc-prev_adc) + prev_temp)*100) )
            ADCs.append(j)

    temps.append( int(temp*100) )
    prev_temp = temp
    ADCs.append(adc)
    prev_adc = adc

In [6]:
d = {'STM_ADC':ADCs, 'Temp':temps}
out = pd.DataFrame(data=d)
out.to_csv('LUT.csv', index=False)